body {
  font-family: sans-serif;
  background: #fffdfd;
  margin: 0;
}

/* Container */
.container {
  width: 80%;
  margin: 30px auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: #fffdfd;
  border-bottom: 1px solid #fffdfd;
}

/* kiri (logo + text) */
.left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  width: 100px;
}

.brand {
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
}

/* tombol kembali */
.back {
  text-decoration: none;
  color: #e60023;
  font-size: 14px;
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid #e60023;
  background: white;
  transition: 0.2s;
}

.back:hover {
  background: #e60023;
  color: white;
}
/* Grid Form */
.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px 40px;
}

/* Input */
.form-group {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
  font-size: 14px;
}

input {
  padding: 12px;
  border-radius: 8px;
  border: none;
  background: #dcdcdc;
}

/* Button */
.btn-area {
  grid-column: span 2;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

button {
  background: #2e347c;
  color: white;
  border: none;
  padding: 12px 50px;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #1f255a;
}